.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
npm-debug.log
*.vsix
.git/**
.DS_Store
create_icon.py
preview.html
my_script.py
npm
.github/**
**/*.test.js
**/*.spec.js
test/**
tests/**
out/test/**
